<md-card>
 <md-card-header>
    
    <md-card-title><strong>Birendranath Maity</strong></md-card-title>
   
  </md-card-header>
  <img class="posterImg" md-card-image src="/assets/icons/myphoto.jpg">
  <md-card-content>
    <p>
    Senior Front-End Developer (AngularJS 1x & 2.0/ Html5 / Javascript / Jquery);

    </p>
  </md-card-content>
  <md-card-actions>
 
    <a md-button md-raised-button href="https://birendranathmaity.wordpress.com/" target="_blank">View Profile</a>
  </md-card-actions>
</md-card>